<section class="section">
  <div class="container">

  <h1 style="background-color:DodgerBlue; color:white; font-size: 4em;; text-align:center">Blog despre secrete</h1>
    <div class="columns">
    
    	<% if user_signed_in? %>
    		<%= render 'profile' %>
    	<% else %>
       <% render 'trends' %>
      <% end %>

     

       <%= render 'feed' %>
       <% render 'who-to-follow' %>
    </div>
  </div>
</section>
